.wrapper {
  height: 100vh;
  margin-left: 20rem;
  text-align: center;
  background: url('https://zfile-public.ziongroup.net/adhoc/zauth-account/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
  background-size: cover;
}