::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  overflow: scroll;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loginBox {
  display: flex;
  width: 38.4rem;
  padding: 3.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.logoContainer {
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 2px;
  text-align: center;
  line-height: 14rem;
  font-size: 8.6rem;
  font-weight: 500;
  margin: 3.2rem auto;
  background: #2196F3;
  color: #fff;
}

.title {
  margin: 0 auto 3.2rem;
  font-size: 1.7rem;
  color: #212529;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.loginForm>input {
  border: 0;
  border-bottom: 1.5px solid rgb(118, 118, 118);
  margin: 0 0 0.8rem;
  padding: 1.6rem 0 0.8rem;
  outline: 0;
  transition: 0.2s;
}

.loginForm>input:hover {
  border-bottom: 1.5px solid #2196F3;
}

.signUp {
  margin-bottom: 1.6rem;
  padding-top: 1.6rem;
  color: #2196F3;
  font-size: 1.3rem;
  font-weight: 500;
}

.signUp>span {
  cursor: pointer;
  text-decoration: underline 1.5px;
}

.signUp>span:hover {
  color: #1e77c0;
}

.loginButton {
  display: block;
  width: 22rem;
  height: 3.6rem;
  margin: 1.6rem auto;
  cursor: pointer;
  background: #2196F3;
  color: #fff;
  line-height: 3.6rem;
  border: 0;
  border-radius: 0.2rem;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  font-size: 1.4rem;
  transition: 0.2s;
}

.loginButton:hover {
  background: #217bc5;
}

.googleLoginButton,
.guestLoginButton {
  display: block;
  width: 22rem;
  height: 3.6rem;
  margin: 0 auto 1.6rem;
  border: 1px solid lightgray;
  background: #fff;
  line-height: 3.5rem;
  color: #333;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s;
}

.googleLoginButton:hover,
.guestLoginButton:hover {
  background: #333;
  color: #fff;
}

.googleLogo {
  background: url('../../../public/images/google_logo.png')no-repeat center;
  background-size: 1.3rem;
  color: transparent;
}