.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20rem;
  height: 100vh;
  padding: 1.5rem;
}

.container div {
  margin: 2rem 0rem;
}