/* 전체 영역 */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 20rem;
  text-align: center;
  width: 100%;
  background-color: white;
}

/* text-shadow 조절 영역 */
.stateInfoArea {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.stateInfoArea>div {
  padding: 1rem;
}

.stateInfoArea input {
  width: 55vw;
}

.stateInfoArea span {
  display: inline-block;
  width: 15rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.textShadowCssInfo {
  padding: 1rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
  background-color: #d8d8d8;
  font-size: 2rem;
  font-weight: 700;
  transition: 0.2s;
}

.textShadowCssInfo:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* 컬러박스 영역 */
.colorBoxArea {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.colorBoxWrap {
  display: flex;
  justify-content: space-between;
}

.colorLabel {
  display: inline-block;
  height: 4rem;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 4rem;
}

input[type="color" i] {
  width: 4rem;
  height: 4rem;
  padding: 0;
  border: none;
  background-color: transparent;
}

input[type="color" i]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

/* 결과 출력 영역 */
.resultText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  border: 2px solid #000;
  background-color: #fff;
}

.resultText>p {
  font-size: 2.5rem;
  font-weight: 800;
}