* {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

.container {
  background: url('https://zfile-public.ziongroup.net/adhoc/zauth-account/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
  background-size: cover;
}