/* 전체 영역 */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 20rem;
  text-align: center;
  width: 100%;
  background-color: white;
  /* background: url('https://zfile-public.ziongroup.net/adhoc/zauth-account/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
  background-size: cover; */
}

/* font 조절 영역 */