.contentsBox {
  display: flex;
  width: calc(28rem + 2px);
  height: calc(20rem + 2px);
  margin: 1rem 0;
  border: 1px solid #333;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contentsBox>p {
  text-align: center;
  line-height: 4rem;
  width: 4rem;
  height: 4rem;
}

.contentsBox>p:nth-child(1) {
  background-color: rgb(16, 110, 20);
}

.contentsBox>p:nth-child(2) {
  background-color: rgb(69, 185, 230);
}

.contentsBox>p:nth-child(3) {
  background-color: rgb(84, 95, 200);
}

.contentsBox>p:nth-child(4) {
  background-color: rgb(117, 208, 209);
}

.contentsBox>p:nth-child(5) {
  background-color: rgb(228, 76, 26);
}